include jellyfin_mpv_shim/icon-transparent.png
include jellyfin_mpv_shim/icon-transparent-white.svg
recursive-include jellyfin_mpv_shim/integration *
recursive-include jellyfin_mpv_shim/default_shader_pack *
recursive-include jellyfin_mpv_shim/messages *.mo
include jellyfin_mpv_shim/mouse.lua
include jellyfin_mpv_shim/trickplay-osc.lua
include jellyfin_mpv_shim/thumbfast.lua
